@import "./variables.scss";

.lucius {
  .homepageWrapper {
    .landingContainer {
      @media (max-width: 600px) {
        height: 400px;
      }
      height: 500px;
      background: linear-gradient(
        107.35deg,
        rgba(196, 196, 196, 0) 20.83%,
        rgba(47, 128, 237, 0.09) 78.13%
      );
      .jumbotron {
        .content {
          width: 45%;
          h1 {
            font-size: 50px;
            font-weight: 700;
            line-height: normal;
            color: $three;
          }
          ul {
            margin-top: 20px;
            li {
              color: $title;
              font-weight: 600;
              margin-right: 15px;
              &::before {
                content: "\2022";
                color: $primaryColor;
                font-weight: 700;
                display: inline-block;
                width: 1em;
                margin-left: -1em;
              }
            }
          }
        }
      }
      @media (max-width: 850px) {
        .jumboImage {
          display: none;
        }
        .jumbotron {
          .content {
            width: 100%;
            @media (max-width: 600px) {
              text-align: center;
              h1 {
                font-size: 40px;
              }
              ul {
                justify-content: center;
              }
            }
          }
        }
      }
    }
    .onboarding {
      margin-bottom: 100px;
      .textArea {
        width: 55%;
        h2,
        p {
          color: $title;
          font-weight: 500;
        }
        h2 {
          font-weight: 600;
          font-size: 25px;
          line-height: normal;
        }
      }
      @media (max-width: 800px) {
        display: flex;
        flex-direction: column;
        &:nth-child(2) {
          .onboardingImg {
            order: 2;
          }
        }
        .textArea {
          width: 100%;
          margin-bottom: 20px;
        }
      }
    }
  }
}
