@import "./variables.scss";

.lucius {
  .details {
    margin-top: 60px;
  }
  .testStartPageContainer {
    margin-top: 50px;
    .navigate {
      margin-bottom: 20px;
      span {
        margin-left: 8px;
      }
    }
    .textInputArea {
      grid-template-columns: 65% 35%;
      gap: 30px;
      .actionBtns {
        margin-top: 20px;
      }
      .analytics {
        border: 0.5px solid $borderColor;
        padding: 15px;
        border-radius: $radius;
        align-items: flex-start;
        .badges {
          .ant-badge {
            margin-right: 15px;
            svg {
              font-size: 30px;
              color: $fadeText;
            }
          }
        }
        .progressBars {
          margin-top: 20px;
          .ant-divider {
            margin: 15px 0px;
          }
          p {
            margin-bottom: 0px;
          }
        }
      }
      textarea {
        margin-top: 20px;
      }
      .typingTextContainer {
        .cardBackground {
          max-height: 300px;
          overflow-y: auto;
        }
      }
      @media (max-width: 800px) {
        display: flex;
        flex-direction: column;
        .actionArea {
          order: 2;
        }
        .analytics {
          margin-bottom: 40px;
          order: 1;
        }
      }
    }
  }
}
