// variables
$accentColor: #bb6bd9;
// $accentLightColor:
// $accentHoverColor:
$primaryColor: #2f80ed;
$ease: 0.4s all ease;
$title: #555;
$fadeText: #999;
$borderColor: #efefef;
$radius: 5px;
$container1: 90%;
$container2: 80%;
$container3: 70%;
$shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.08);
